{{set . "title" "Add Farm"}}
{{template "header.html" .}}

<div class="row">
		<div class="col"></div>
		<div class="col">
			<!-- Material form login -->
			<form method="POST" action="{{url "Farms.Save"}}">

				<p class="h4 text-center mb-4">Add Farm</p>
                
                {{with $field := field "farm.Name" .}}
				    <div class="md-form">
				    	<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
                        <label for="{{$field.Name}}">Name</label>
                        <span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}
				
                <button class="btn btn-green pull-left" type="submit">Save</button>
                <a class="btn btn-red pull-right" href="{{url "Farms.Index"}}">Cancel</a>
				
			</form>
			<!-- Material form login -->
		</div>
		<div class="col"></div>    
</div>

{{template "footer.html" .}}