{{set . "title" "Settings"}}
{{template "header.html" .}}

<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<form method="POST" action="{{url "Users.SavePassword"}}">
				<p class="h4 text-center mb-4">Change Password</p>
			
				{{with $field := field "password" .}}
				    <div class="md-form">
				    	<input type="password" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
                        <label for="{{$field.Name}}">Password</label>
                        <span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}

                {{with $field := field "verifyPassword" .}}
				    <div class="md-form">
				    	<input type="password" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
                        <label for="{{$field.Name}}">Repeat Password</label>
                        <span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}
				
				<p class="text-center small">Password needs to be more than 5 characters!<p></p>

                <button class="btn btn-green pull-right" type="submit">Save</button>
			</form>
		</div>
		<div class="col-3"></div>    
</div>
<br>
<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<form method="POST" action="{{url "Users.SaveEmail"}}">
				<p class="h4 text-center mb-4">Change Email</p>
			
				{{with $field := field "email" .}}
					<div class="md-form">
						<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
						<label for="{{$field.Name}}">Email</label>
						<span class="error">{{$field.Error}}</span>
					</div>
				{{end}}
				
				<button class="btn btn-green pull-right" type="submit">Save</button>
			</form>
		</div>
		<div class="col-3"></div>    
</div>

{{template "footer.html" .}}