{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="row">
		<div class="col"></div>
		<div class="col">
			<!-- Material form login -->
			<form action="{{url "Application.Login"}}" id="formLogin" method="POST">
				<p class="h4 text-center mb-4">Sign in</p>
			
				<!-- Material input email -->
				<div class="md-form">
					<i class="fa fa-user prefix blue-text"></i>
					<input type="text" name="username" id="formLoginUsername" class="form-control">
					<label for="formLoginUsername">Your username</label>
				</div>
			
				<!-- Material input password -->
				<div class="md-form">
					<i class="fa fa-lock prefix blue-text"></i>
					<input type="password" name="password" id="formLoginPassword" class="form-control">
					<label for="formLoginPassword">Your password</label>
				</div>

				<div class="form-check">
					<input type="checkbox" name="remember" class="form-check-input" id="formLoginRemember">
					<label class="form-check-label" for="formLoginRemember">Remember</label>
				</div>
			
				<div class="text-center mt-4">
					<button class="btn btn-blue" type="submit">Login</button>
				</div>
			</form>
			<!-- Material form login -->
		</div>
		<div class="col"></div>    
</div>

<!-- 	


  <form action="{{url "Application.Login"}}" id="formLogin" method="POST">
    <p class="field">
      <label>Login Name:</label>
      <input type="text" name="username" size="19" value="{{.flash.username}}" />
    </p>
    <p class="field">
      <label>Password:</label>
      <input type="password" name="password" size="19"/>
    </p>
    <p class="field">
      <label>Remember:</label>
      <input type="checkbox" name="remember" value="true"/>
    </p>
    <p class="buttons">
      <input type="submit" value="Log in" />
    </p>
  </form>

  <p>
    <a href="{{url "Application.Register"}}">Register New User</a>
  </p> -->



{{template "footer.html" .}}
