    </div>

                  
    <script src="/public/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/mdb.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-messaging.js"></script>
    <script> 
    // Initialize Firebase
    $(function() {
      var config = {
        apiKey: "AIzaSyCd5ctYq-KBxqyUfnu6qCAI0dZSO_LZ7DQ",
        authDomain: "gdf-alarm-a1322.firebaseapp.com",
        databaseURL: "https://gdf-alarm-a1322.firebaseio.com",
        projectId: "gdf-alarm-a1322",
        storageBucket: "gdf-alarm-a1322.appspot.com",
        messagingSenderId: "588806124260",
        appId: "1:588806124260:web:09285b514d50b39e"
      };
      firebase.initializeApp(config);
      const messaging =  firebase.messaging();
      messaging.requestPermission()
      .then(function() {
        console.log('Have permission to send notifications.');
        return messaging.getToken();
      })
      .then(function(token) {
        $.ajax({
          type: "POST",
          url: "/set-token",
          data: {
            "token": token
          },
          error: ()=> {
            console.log("Error sending token to backend: ")
          },
          dataType: "text"
        });
        console.log(token);
      })
      .catch(function(err) {
        console.log("Don't have permission to send notifications!");
      });
    });
    </script>
  </body>
</html>
