<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/mdb.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/public/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {{range .moreStyles}}
            <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        <script src="/public/js/sessvars.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
        {{range .moreScripts}}
            <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
        {{end}}
    </head>
  <body>
      <script>
            $(function() {
                setTimeout(function(){ 
                    $(".alert-info").fadeTo(1000, 0).slideUp(500, function () {
                        $(this).hide();
                    });
                }, 2500);
                setTimeout(function(){ 
                    $(".alert-danger").fadeTo(1000, 0).slideUp(500, function () {
                        $(this).hide();
                    });
                }, 2500);
            });
      </script>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color-dark">
    
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">GDF-ALARM</a>
    
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navBar">
        
            <!-- Links -->
            {{if .user}}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url "Farms.Index"}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                </ul>
              
                <ul class="navbar-nav ml-auto">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{.user.Username}}</a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="userDropdown">
                            <a class="nav-link" href="{{url "Users.Update"}}">Settings</a>
                            <a class="nav-link" href="{{url "Application.Logout"}}">Logout</a>
                        </div>
                    </li>
                </ul>
            {{end}}
            <!-- Links -->
        </div>
        <!-- Collapsible content -->
      
    </nav>
    <!--/.Navbar-->

    <div id="content" class="container">
        <br>
            
        {{if .flash.error}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{.flash.error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{end}}
        {{if .flash.success}}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{.flash.success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{end}}

