{{set . "title" "Add Rig"}}
{{template "header.html" .}}

<div class="row">
		<div class="col"></div>
		<div class="col">
			<!-- Material form login -->
			<form method="POST" action="{{url "Rigs.Save"}}">

				<p class="h4 text-center mb-4">Add Rig {{.farmId}}</p>
                
                {{with $field := field "rig.Name" .}}
				    <div class="md-form">
				    	<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
                        <label for="{{$field.Name}}">Name</label>
                        <span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}
				
                {{with $field := field "rig.IP" .}}
				    <div class="md-form">
				    	<input type="text" name="{{$field.Name}}" id="{{$field.Name}}" class="form-control">
                        <label for="{{$field.Name}}">URL</label>
                        <span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}

                {{with $field := field "rig.Track" .}}
				    <div class="form-groupe">
                        <label for="{{$field.Name}}">Track</label>
				    	<select name="{{$field.Name}}" class="form-control">
                                <option value="true" selected="selected">Yes</option>
                                <option value="false">No</option>
                        </select>
				    	<span class="error">{{$field.Error}}</span>
				    </div>
                {{end}}
                
                <input type="hidden" name="rig.FarmId" value="{{.farmId}}">
                
                <button class="btn btn-green pull-left" type="submit">Save</button>
                <a class="btn btn-red pull-right" href="{{url "Rigs.Index"}}?farmId={{.farmId}}">Cancel</a>
				
			</form>
			<!-- Material form login -->
		</div>
		<div class="col"></div>    
</div>

{{template "footer.html" .}}