{{set . "title" "Home"}}
{{template "header.html" .}}
<h1>List of rigs</h1>

<div class="card card-cascade narrower mt-5">

        <!--Card image-->
        <div class="view view-cascade gradient-card-header align-middle">

            <form class="pull-left" style="margin: 30px 0 0 20px;">
                <label>Display max</label>
                <select id="size" class="browser-default">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <label>results per page. </label>
            </form>
    
            <!-- Search form -->
            <form class="form-inline md-form form-sm pull-right">
                <input id="search" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </form>
    
        </div>
        <!--/Card image-->

        <div id="result"></div>
</div>

<a href="{{url "Rigs.Create"}}?farmId={{.farmId}}" class="btn btn-green pull-right">Add Rig</a>

<script type="text/javascript" charset="utf-8">
  $(function() {
    sessvars.page = 1
    search()
    window.setInterval(function(){
        search()
    }, 3000);
  });
  // Rebuild state
  $('#search').val(sessvars.search)
  if(sessvars.page == undefined) {
      sessvars.page = 1
  }
  if(sessvars.size == undefined) {
      sessvars.size = 10
  }
  $('#size option[value='+sessvars.size+']').attr('selected', 'true')

  // Search function
  var search = function() {
      sessvars.search = $('#search').val()
      sessvars.size = $('#size').val()
      $.get('/rigs/list', {
        "search": sessvars.search,
        "size": sessvars.size,
        "page": sessvars.page,
        "farmId": '{{.farmId}}',
      }, function(data) {
          $('#result').html(data)
          $('#content').css('visibility', 'visible')
      })
  }

  

  // Events handler
  $('#submit').click(function() {
      sessvars.page = 1
      search()
  })
  $('#search').keyup(function() {
      sessvars.page = 1
      search()
  })
  $('#size > option').click(function() {
      search()
  })
  $('#nextPage').live('click', function(e) {
      sessvars.page = $(this).attr('href')
      e.preventDefault()
      search()
  })
  $('#prevPage').live('click', function(e) {
      sessvars.page = $(this).attr('href')
      e.preventDefault()
      search()
  })

</script>

{{template "footer.html" .}}
