<div class="px-4">
    {{if .rigs}}
    <!--Table-->
    <table class="table">
        <!--Table head-->
        <thead class="primary-color-dark">
            <tr class="text-white">
                <th>Name</th>
                <th>Url</th>
                <th>Track</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
            {{$farmId := .farmId}}
            {{range .rigs}}
                <tr>
                    <td><i class="fa fa-laptop" aria-hidden="true"></i> {{.Name}}</td>
                    <td>{{.IP}}</td>
                    <td>
                        {{if .Track}} 
                            <i class="fa fa-check green-text" aria-hidden="true"></i>
                        {{else}}
                            <i class="fa fa-times red-text" aria-hidden="true"></i>
                        {{end}}
                    </td>
                    <td>
                        {{if .Track}} 
                            {{if .Active}} 
                                <i class="fa fa-check green-text" aria-hidden="true"></i>
                            {{else}}
                                <i class="fa fa-times red-text" aria-hidden="true"></i>
                            {{end}}
                        {{else}}
                            <i class="fa fa-warning yellow-text" aria-hidden="true"></i>
                        {{end}}
                    </td>
                    <td>
                        <a href="{{url "Rigs.Delete" .Id}}&farmId={{$farmId}}"><i class="fa fa-trash red-text" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {{end}}
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
    {{else}}
        <!--Table-->
        <table class="table">
            <!--Table head-->
            <thead class="primary-color-dark">
                <tr class="text-white">
                    <th>Name</th>
                    <th>Url</th>
                    <th>Track</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                <tr>
                    <td>No more results.</td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    {{end}}
</div>
<hr class="my-0">
<!--Bottom Table UI-->
<div class="d-flex justify-content-center">
    <!--Pagination -->
    <nav class="my-4 pt-2">
        <ul class="pagination pagination-circle pg-purple mb-0">
            <!--First-->
            <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">Previous</a></li>
            <!--Arrow left-->
            <li class="page-item">
                <a id="prevPage" class="page-link" aria-label="Next" href="{{.prevPage}}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li class="page-item disabled">
                <p> ... </p>
            </li>
            <li class="page-item">
                <a id="nextPage" class="page-link {{if .rigs}} {{else}} disabled {{end}}" aria-label="Next" href="{{.nextPage}}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <!--First-->
            <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">Next</a></li>
        </ul>
    </nav>
    <!--/Pagination -->
</div>
<!--Bottom Table UI-->
